{% extends "layout.html" %}

{% block content %}
<section id="intro">
  <header>
    <a href="/">
      <img src="/Logo.png" alt="Imagem da logomarca">
    </a>
  </header>

  <main>
    <p>
      Ficar em casa em períodos longos, não deve ser nada fácil.
    </p>

    <p>
      Por isso iremos catalogar <strong>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo
      que
      for necessário para tornar nosso momento mais interessante.
    </p>

    <p>
      Comece clicando em "ver ideias" para ver as ideias cadastradas e contribua adicionando a sua ideia.
    </p>
  </main>

  <section id="buttons">
    <button onclick="onOff()">+ Adicionar Ideia</button>
    <a href="/ideias" class="button">Ver Ideias </a>
  </section>

  <footer>
    <p id="footer">Com 💓 <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a> </p>
  </footer>
</section>

<section id="last-ideias">
  {% include "allIdeas.html" %}
</section>
{% endblock content %}